{% macro render_field(field) %}
    <div class="form-group">
        {% if field.type == "BooleanField" %}
            <label class="checkbox">
                {{ field(**kwargs)|safe }}
                {{ field.label.text }}
            </label>
        {% elif field.type == "HiddenField" %}
            {{ field(**kwargs)|safe }}
        {% elif field.type == "CSRFTokenField" %}
            {{ field(**kwargs)|safe }}
        {% else %}
            {{ field.label }}
            {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
            <ul class="errors">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
