{% extends "wrapper.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<h2><a href="/{{ project.owner }}/{{ project.name }}">{{ project.owner }}/{{ project.name }}</a> Settings</h2>
<ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">Basic info</a></li>
    <li><a href="#sources" data-toggle="tab">Sources</a></li>
    <li><a href="#events" data-toggle="tab">Events</a></li>
    <li><a href="#delete" data-toggle="tab">Delete</a></li>
</ul>
<div class="tab-content" id="settings-tab">
    <div class="tab-pane active" id="info">
        <dl>
            <dt>Keywords</dt>
            <dd>{{ ', '.join(project['keywords']) }}</dd>
            <dt>Start</dt>
            <dd>{{ project.start }}</dd>
            <dt>End</dt>
            <dd>{{ project.end }}</dd>
        </dl>
    </div>
    <div class="tab-pane" id="sources">
        <h3>Sources</h3>
        <form method="post" action="/{{ project.owner }}/{{ project.name }}/settings">
            <fieldset>
                <div class="form-horizontal">
                    {{ add_type_form.source_type }}
                    {{ add_type_form.csrf_token }}
                    <button class="btn btn-primary">Add source</button>
                </div>
            </fieldset>
        </form>
        {% if sources|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for source in sources %}
                    <tr>
                        <td>{{ source['label'] }}</td>
                        <td>{{ source['type'] }}</td>
                        <td>{{ source['status'] }}</td>
                        <td>
                            <a href="#delete-modal-{{ source['_id'] }}" role="button" data-toggle="modal">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no data sources added yet.</p>
        {% endif %}
    </div>
    <div class="tab-pane" id="events">
        <h3>Events</h3>
        <form method="post" action="/{{ project.owner }}/{{ project.name }}/settings">
            {{ render_field(add_event_form.event_label) }}
            {{ render_field(add_event_form.event_date, class="datepicker") }}
            <fieldset>
                {{ render_field(add_event_form.csrf_token) }}
                <button type="submit" class="btn btn-primary">Add</button>
            </fieldset>
        </form>
        {% if events|length > 0 %}
            <table class="table">
                <thead>
                    <th>Date</th>
                    <th>Label</th>
                    <th></th>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event['date'] }}</td>
                        <td>{{ event['label'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no events added yet.</p>
        {% endif %}
    </div>
    <div class="tab-pane" id="delete">
        <h3>Delete Project</h3>
        <form method="post" action="/{{ project.owner }}/{{ project.name }}/settings">
            <fieldset>
                {{ render_field(delete_form.name) }}
                {{ delete_form.csrf_token }}
                <button type="submit" class="btn btn-danger">Delete</button>
            </fieldset>
        </form>
    </div>
</div>
{% for form in delete_source_forms %}
<div id="delete-modal-{{ form.source_id.data }}" class="modal hide fade" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Really delete source: {{ form.source_name.data }}?</h4>
    </div>
    <div class="modal-footer">
        <form class="form-inline" method="post" action="/{{ project.owner }}/{{ project.name }}/settings">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
            {{ render_field(form.csrf_token)}}
            {{ render_field(form.source_id)}}
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}